# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
venv312/

# Environment Files
.env

# Logs
logs/
*.log

# Uploads & Storage
backend/storage/uploads/
backend/storage/faiss_indexes/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Node
frontend/node_modules/

# Build
dist/
build/